html,
body {
    oveflow: hidden;
    height: 100%;
}

.drag {
    position: fixed;
    width: 200px;
    height: 300px;
    top: 200px;
}

#drag_2 {
    left: 100px;
}

#drag_3 {
    left: 300px;
}

#drag_4 {
    left: 500px;
}

#drag_5 {
    right: 100px;
}

#drag_6 {
    right: 300px;
}

#drag_7 {
    right: 500px;
}

.glcanvas {
    background-size: 150%;
    background-position: 50% 50%;
    /*
        background-image: url(assets/image/back_class_normal.png);
        */
    z-index: 0;
    bottom: 0px;
    right: 0px;
    position: relative;
}

:root {
    --purple: rgba(172, 133, 253, 1);
    --orange: rgba(236, 217, 188, 1);
    --green: rgba(115, 210, 22, 1);
    --deepskyblue: rgba(0, 191, 255,1);
    --deeppink: rgba(255, 20, 147 1);
}

button {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: 990;
    font-family: DejaVu Sans Mono for Powerline;
    height: 30px;
    border-radius: 3px;
    border-style: solid;
    padding: 0px;
    margin: 0px;

    z-index: 2;
    position: absolute;
    bottom: auto;
}

.btnChange {
    left: 0px;
    border-color: var(--green);
    background-color: var(--green);
}

.btnClose {
    right: 0px;
    border-color: var(--deepskyblue);
    background-color: var(--deepskyblue);
}

.btnLock {
    z-index: 2;
    position: relative;
    border-color: var(--deeppink);
    background-color: var(--deeppink);
}

/* button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.5),
        inset 0px 0px 1px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.5),
        inset 0px 0px 1px rgba(255, 255, 255, 0.7);
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.5),
        inset 0px 0px 1px rgba(255, 255, 255, 0.7);
    text-shadow:
        0px -1px 0px rgba(0, 0, 0, 0.4),
        0px 1px 0px rgba(255, 255, 255, 0.3);
}

button.active {
    background: linear-gradient(to bottom,
        #3498db,
        #2980b9);
    background: -moz-linear-gradient(top,
        #3498db 0%,
        #2980b9);
    background: -webkit-gradient(linear, left top, left bottom,
        from(#3498db),
        to(#2980b9));
    border: 1px solid #2980b9;
}

button.inactive {
    background: linear-gradient(to bottom,
        #e74c3c,
        #c0392b);
    background: -moz-linear-gradient(top,
        #e74c3c 0%,
        #c0392b);
    background: -webkit-gradient(linear, left top, left bottom,
        from(#e74c3c),
        to(#c0392b));
    border: 1px solid #c0392b;
} */
