html,
body {
  height: 100%;
}

.drag {
  position: fixed;
}

/* #drag_0 {
  left: 0px;
  top: 0px;
} */

.glcanvas {
  z-index: 0;
  bottom: 0px;
  right: 0px;
  position: relative;
}

:root {
  --purple: rgba(172, 133, 253, 1);
  --orange: rgba(236, 217, 188, 1);
  --green: rgba(115, 210, 22, 1);
  --deepskyblue: rgba(0, 191, 255, 1);
  --hotpink: rgba(255, 105, 180, 1);
  --cyan: rgba(0, 255, 255, 1);
  --mediumspringgreen: rgba(0, 251, 127, 1);
  --violet: rgba(238, 130, 238, 1);
  --darkviolet: rgba(148, 0, 211, 1);
  --yellow: rgba(255, 255, 0, 1);
  --orange: rgba(255, 165, 0, 1);
}